body {
font-family: 'Montserrat', sans-serif;
background: linear-gradient(to right, #ECE7D1, #DBCEA5);
color: #8A7650;
margin: 0;
padding: 0;
}


.navbar {
padding: 15px 30px;
background-color: #8E977D !important;
}

.navbar-brand {
color: #ECE7D1 !important;
font-weight: 700;
font-size: 20px;
}

.nav-btn {
background-color: #8A7650;
border: none;
border-radius: 25px;
color: #ECE7D1;
font-weight: 600;
padding: 8px 20px;
transition: all 0.3s ease;
}

.nav-btn:hover {
background-color: #DBCEA5;
color: #8A7650;
transform: scale(1.05);
}

.container.main-box {
max-width: 500px;
margin: 80px auto;
background-color: #ECE7D1;
padding: 35px;
border-radius: 20px;
box-shadow: 0 8px 25px rgba(138, 118, 80, 0.2);
}

h1 {
font-weight: 700;
margin-bottom: 30px;
text-align: center;
color: #8A7650;
}

h3#output {
margin-top: 25px;
padding: 15px;
background-color: #8E977D;
color: #ECE7D1;
border-radius: 15px;
text-align: center;
}

button.btn-dark {
background-color: #8A7650;
border: none;
border-radius: 25px;
font-weight: 600;
padding: 10px 30px;
transition: all 0.3s ease;
color: #ECE7D1;
}

button.btn-dark:hover {
background-color: #8E977D;
transform: scale(1.05);
}

.footer {
margin-top: 100px;
background-color: #8A7650;
color: #ECE7D1;
padding: 15px;
font-weight: 500;
letter-spacing: 2px;
}
